html, 
body {
    width: 100px;
    margin: 0;
    padding: 0;  
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.375;
    color:@black;
}

.main {
flex: 1 0 auto;
background-color: grey;
}

.page-footer {
flex: 0 0 auto;
background-color: blue;
}